/*navigation header*/
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
.nav {
  color: var(--dark);
}
.nav:hover,
.nav:focus {
  color: var(--pressed-state);
}
.nav:active {
  color: var(--pressed-state);
}
.nav-logo {
  color: var(--dark);
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.menu:hover,
.menu:focus {
  color: var(--pressed-state);
}

.address {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.mail:hover,
.mail:focus {
  color: var(--pressed-state);
}
.mail:active {
  color: var(--pressed-state);
}

/*section hero*/

.hero {
  background: var(--dark);
  color: var(--white-background);
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  background-color: var(--primary-brand);
  color: var(--white-background);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
  color: #ffffff;
}

.hero-button:active {
  background-color: var(var(--pressed-state));
  color: #ffffff;
}

.filtr-button {
  background-color: var(--light);
  color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.filtr-button:hover,
.filtr-button:focus {
  background-color: var(--pressed-state);
  color: #ffffff;
}

.filtr-button:active {
  background-color: var(--pressed-state);
  color: #ffffff;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--text);
  background-color: var(--white-background);
}
.logo {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logoweb {
  color: var(--light);
}
.nav-but-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: var(--dark);
}
/*About company*/
.company-descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.company-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.company-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}
/*What we are doing*/
.tasks-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
/*our team*/
.team {
  background-color: var(--light);
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.team-list {
  background: var(--white-background);
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.team-job {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}

/*page 2 portfolio   examples*/

.examples-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.examples-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/*footer*/
.footer {
  background-color: var(--dark);
}
.footer-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--light);
}
